<section style="padding-top: 4em;padding-bottom:5em;">

    <div class="mx-5 d-flex flex-column">
        {{#each orderedDetails}}
        {{#each cartProductDetails}}
        <a href="/cartDetails?id={{_id}}">
            <div class="card corner mt-2 shadow mb-3" style="">
                <div class="row no-gutters">
                    <div class="px-3 my-2 col-md-2">
                        <img src="product-images/{{_id}}.jpeg" class="card-img" alt="..." height="150px" width="30px" />
                        {{/each}}
                    </div>
                    {{!-- name and quantity --}}
                    <div class="col-md-4">
                        <div class="card-body">
                            {{#each cartProductDetails}}

                            <p class="card-text fw-normal text-dark">{{product_name}}</p>
                            {{/each}}
                            {{#with productSummary}}
                            <p class="card-text fw-light text-dark" style="display: inline;">Quantity: </p>
                            <p class="card-text fw-normal text-muted" style="display: inline;">
                                {{quantity}}</p>
                            {{/with}}


                        </div>
                    </div>
                    {{!-- rate  --}}
                    <div class="col-md-2">
                        <div class="card-body ">
                            {{#each cartProductDetails}}
                            <p class="card-text fw-light text-dark " style="display: inline;">Rate :</p>
                            <p class="card-text fw-light text-muted" style="display: inline;">
                                {{product_price}}</p>
                            {{/each}}

                        </div>
                    </div>
                    {{!-- status --}}
                    <div class="col-md-4">
                        <div class="card-body">

                            <p class="card-text fw-light text-dark">status</p>
                            <p style="display:inline" class="card-text text-muted fw-light">Ordered On </p>
                            {{#with orderedTime}}
                            <p style="display: inline;" class="card-text text-muted fw-light">
                                {{this.day}}
                                {{this.month}}
                                {{this.year}}
                                {{this.hours}}:
                                {{this.minutes}}
                            </p>
                            {{/with}}
                        </div>
                    </div>
                </div>
            </div>
        </a>
        {{/each}}
    </div>
</section>