<section id='viewProducts' class="cardcrop bg-light container-fluid" style="padding-top: 4em;padding-bottom:5em;" >
  <div id='products' class="">
    <div class="container">
      <div class="card-columns row ">
        {{#each products}}
        {{!-- <div class="col-md-2"> --}}
          <div class="card m-1" style="height: auto; width: 20rem;">
            <img class='px-2 py-2 card-img-top ' style="height: 200px; width: 200px;"  src="product-images/{{this._id}}.jpeg" alt="" />
            <div class="card-body">
              <p class="card-title">{{this.product_name}}</p>
              {{!-- <p class="card-text">{{this.product_description}}</p> --}}
              <div class="bg-white sticky-xl-top" style="bottom: 0;">
                <h4 class="text-dark"><i class="fa fa-inr"></i> {{this.product_price}}</h4>  
                <button class="btn btn-warning " onclick="addToCart('{{this._id}}')" >Add To Cart</button>    
              </div>
            </div>
          </div>
        {{!-- </div> --}}
        {{/each}}
      </div>
    </div>
  </div>
</section>